* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-bottom: 20px;
}

.header-heading {
    width: 100%;
    background-color: bisque;
    padding: 5px;
    text-align: center;
    font-weight: normal;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 15px 5px;
    padding: 5px;
}

li {
    padding: 3px;
    margin-right: 12px;
    font-size: 20px;
    cursor: pointer;
}