<li class="note-card">
    <p class="note-card-title">Title</p>
    <p class="note-card-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Consequuntur qui iure sed adipisci, recusandae quos quod ipsa
        quae veniam quam.
    </p>
    <div class="note-card-footer">
        <p class="note-card-date">Created: 3 days ago</p>
        <div>
            <input type="button" value="View Details" class="note-card-btn" (click)="visitDetailsPage()" />
        </div>
    </div>
</li>