<section class="note-details-container">
    <h3 class="note-detail-title">{{title }}</h3>
    <p class="details-created"><span>Created:</span> {{created}}</p>
    @if(updated){
    <p class="details-updated"><span>Last Updated:</span> {{updated}}</p>
    }
    <div class="details-hr">
        <hr>
    </div>
    <p class="note-detail">{{description}} </p>
    <div class="details-btn">
        <input type="button" value="Edit Note" class="edit-btn">
        <input type="button" value="Delete Note" class="delete-btn">
    </div>
</section>