* {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    font-size: 18px;
    padding: 8px;
    margin-top: 12px;
}

p {
    margin-right: 6px;
}