<form>
    <h3 class="form-heading">Add New Note</h3>
    <hr>
    <div class="input-section">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" class="input-title">
    </div>
    <div class="input-section">
        <label for="note">Note:</label>
        <textarea name="note" id="note" cols="30" rows="5" class="input-note"></textarea>
    </div>
    <div class="form-add-btn">
        <input type="submit" value="Add Note" class="add-btn">
    </div>
    <div class="form-clear-btn">
        <input type="button" value="Clear Form" class="clear-btn">
    </div>
</form>